@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


body{
  min-height: 100vh;
  background: #fff;

}


header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Logo appearances*/
header .logo
{
  color:black;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*Logo appearances end*/

/*Options align at top-center of page*/

header ul{
  display: flex;
  margin-right: 453px;
  
}
/*Options align at top-center of page end*/

/*Spacing between options*/
header ul li{
  list-style: none;
  margin-left: 20px;
}
/*Spacing between options end*/

header ul li a{
  text-decoration: none;
  padding: 10px 10px;
  color: black; 
  border-radius: 3px;
  
}

/*hover over options effect*/
header ul li a:hover{
  background: black;
  color:#fff;
}
/*hover over options effect end*/

/*Search box*/
.container {
  margin-top: 6em;
  text-align: center;
  
}

div input {
  font-family: 'Roboto', sans-serif;
}

#animated input[type=text] {
  width: 310px;
  box-sizing: border-box;
  border: 1.5px solid #a6a6a6;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 12px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

#animated input[type=text]:focus {
  width: 500px;
}

#animated i {
position: relative;
right: 32px;
}
/*Search box end*/

/*shopping bag & profile icon*/
.icons  {
  position:absolute; 
  top: 0;
  margin-top: 1.7em;
  right: 6em  ;
}

.icons ion-icon {
  color: black;
  
}
.icons ion-icon, [name="person-circle-outline"] {

margin-right: 19px;

}

ion-icon:hover {
  
   /* moused over link */ 
   color: rgb(224, 17, 186); 
  
  }


/*shopping bag & profile icon end*/


/* test out fonts 
p ,a {
  font-family: 'Courier New', Courier, monospace;
}
*/

/*Introduction content*/
.about_us h1 {
  font-size: 44px;
  padding-left: 1em;
  font-family: 'Newsreader', serif;

}

p {
  font-family: 'Newsreader', serif;
  padding-left: 2.8em;

}

.about_us{
  display: flex;
  margin-right: 0em;
  margin-left: 0em;
  margin-top: 1.7em;
  height: 22em;
  background-color: rgb(216, 216, 216);
}


.about_us a {
  text-decoration: none;
  margin-left: 2.8em;
  margin-top: 8em;
  display: inline-block;
  padding: 10px 12px;
  color: black;
  background-color: transparent;
  border: 3px solid black;
  font-family: 'Montserrat', sans-serif;
  

}
.about_us a:hover{
  color: #fff;
  background-color: black;
}
/*Introduction content end*/
