@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  overflow-x: hidden;
}
/*header starts*/
.container {
  max-width: 1200px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.v-center {
  align-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*header*/
.header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 99;
  padding: 15px;
}
.header .item-left {
  flex: 0 0 17%;
}
.header .logo a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header .item-center {
  flex: 0 0 66%;
}
.header .header-icon {
  flex: 0 0 17%;
  display: flex;
  justify-content: flex-end;
}
.header .header-icon a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  display: inline-block;
  margin-left: 10px;
  transition: color 0.3s ease;
}
.header .menu > ul > li {
  display: inline-block;
  line-height: 50px;
  margin-left: 25px;
}
.header .menu > ul > li > a {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  position: relative;
  text-transform: capitalize;
  transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #fff;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  transition: all 0.5s ease;
  margin-top: 15px;
  opacity: 0;
  visibility: hidden;
}
.header .menu > ul > li.dropdown-menu:hover .sub-menu {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
.header .menu #header-hover::after {
  content: "";
  height: 3px;
  width: 0;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}
.header .menu #header-hover:hover::after {
  width: 100%;
}
.header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: grey;
  transition: color 0.3s ease;
  text-decoration: none;
}
.header .menu > ul > li .list-item > ul > li > a {
  color: grey;
}
.header .menu > ul > li .sub-menu-title {
  color: #000;
}
.header .menu > ul > li .single-col {
  min-width: 280px;
  max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}
.header .menu > ul > li .sub-menu.mega-menu-column-6 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-6 > .list-item {
  flex: 0 0 19%;
  padding: 0 9px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-6 > .list-item img {
  max-width: 1000%;
  width: 127%;
  vertical-align: middle;
  padding-top: 9px;
}
/*just for drop-down 'Gifts' & 'Fine Watches' */
.header .menu > ul > li .sub-menu.mega-menu-column-4 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  flex: 0 0 19%;
  padding: 0 9px;
  text-align: left;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  max-width: 1000%;
  width: 100%;
}
/*just for drop-down 'Gifts' and 'Fine Watches' ends*/
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .menu > ul > li .list-item > ul > li > a:hover,
.header .header-icon a:hover {
  color: #ec1919;
  transition: 0.3s;
}
.menu {
  text-align: center;
}
/*header starts ends*/

/*Search box*/
.container {
  text-align: center;
}

div input {
  font-family: "Roboto", sans-serif;
}

#animated input[type="text"] {
  width: 310px;
  box-sizing: border-box;
  border: 1.5px solid #a6a6a6;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 12px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

#animated input[type="text"]:focus {
  width: 500px;
}

#animated i {
  position: relative;
  right: 32px;
}
/*Search box end*/

/*About us content*/

/* background video in 'About us' content */
#diamond-vd {
  filter: alpha;
  opacity: 66%;
  position: absolute;
  top: 10em;
  object-fit: cover;
  width: 100vw;
  height: 51vh;
}
/* background video in 'About us' content end*/
.about_us h1 {
  font-size: 44px;
  padding-left: 1em;
  font-family: "Newsreader", serif;
}

p {
  font-family: "Nothing You Could Do", cursive;
  position: relative;
  left: 3em;
  font-size: 16px;
  font-weight: 910;
}

.about_us {
  display: flex;
  position: absolute;
  margin-right: 0em;
  margin-left: 0em;
  margin-top: 3.7em;
  height: 22em;
  /*background-color: rgb(245, 245, 245);*/
}

.about_us a {
  text-decoration: none;
  position: absolute;
  left: 3.5em;
  top: 18em;
  display: inline-block;
  padding: 10px 12px;
  color: black;
  background-color: transparent;
  border: 3px solid black;
  font-family: "Montserrat", sans-serif;
}

.about_us a:hover {
  color: #fff;
  background-color: black;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: scale(1.1);
  transition: 0.5s;
}
/*About us content ends*/

/* Product Card details */
.product-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.product-card .product-1 {
  display: flex;
  position: absolute;
  top: 36em;
  left: 1em;
  background-color: #fff;
  box-shadow: -1px 1px 70px -25px rgba(0, 0, 0, 0.3);
}
.product-card .product-2 {
  display: flex;
  position: absolute;
  top: 36em;
  left: 19em;
  background-color: #fff;
  box-shadow: -1px 1px 70px -25px rgba(0, 0, 0, 0.3);
}
.product-card .product-3 {
  display: flex;
  position: absolute;
  top: 36em;
  left: 36.9em;
  background-color: #fff;
  box-shadow: -1px 1px 70px -25px rgba(0, 0, 0, 0.3);
}
.product-card .product-4 {
  display: flex;
  position: absolute;
  top: 36em;
  left: 54.5em;
  background-color: #fff;
  box-shadow: -1px 1px 70px -25px rgba(0, 0, 0, 0.3);
}
.product-card .product-5 {
  display: flex;
  position: absolute;
  top: 36em;
  left: 72em;
  background-color: #fff;
  box-shadow: -1px 1px 70px -25px rgba(0, 0, 0, 0.3);
}
.product-card .product-6 {
  display: flex;
  position: absolute;
  top: 53em;
  left: 1em;
  background-color: #fff;
  box-shadow: -1px 1px 70px -25px rgba(0, 0, 0, 0.3);
}
.product-card .product-7 {
  display: flex;
  position: absolute;
  top: 53em;
  left: 19em;
  background-color: #fff;
  box-shadow: -1px 1px 70px -25px rgba(0, 0, 0, 0.3);
}
.product-card .product-8 {
  display: flex;
  position: absolute;
  top: 70em;
  left: 1em;
  background-color: #fff;
  box-shadow: -1px 1px 70px -25px rgba(0, 0, 0, 0.3);
}
.product-card .product-9 {
  display: flex;
  position: absolute;
  top: 70em;
  left: 19em;
  background-color: #fff;
  box-shadow: -1px 1px 70px -25px rgba(0, 0, 0, 0.3);
}
.product-card .product-10 {
  display: flex;
  position: absolute;
  top: 53.9em;
  left: 57em;
  background-color: #fff;
  box-shadow: -1px 1px 70px -25px rgba(0, 0, 0, 0.3);
}

.product-card .product-1:hover,
.product-card .product-2:hover,
.product-card .product-3:hover,
.product-card .product-4:hover,
.product-card .product-5:hover,
.product-card .product-6:hover,
.product-card .product-7:hover,
.product-card .product-8:hover,
.product-card .product-9:hover {
  -webkit-filter: brightness(90%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 0.5s ease;
  transform: scale(1.03);
}
.card-btn {
  position: absolute;
  bottom: 108px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: transparent;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.card-btn:hover {
  background: #0e0d0d;
  color: #fff;
}
.product-card .product-1:hover .card-btn {
  opacity: 1;
}
.product-card .product-2:hover .card-btn {
  opacity: 1;
}
.product-card .product-3:hover .card-btn {
  opacity: 1;
}
.product-card .product-4:hover .card-btn {
  opacity: 1;
}
.product-card .product-5:hover .card-btn {
  opacity: 1;
}
.product-card .product-6:hover .card-btn {
  opacity: 1;
}
.product-card .product-7:hover .card-btn {
  opacity: 1;
}
.product-card .product-8:hover .card-btn {
  opacity: 1;
}
.product-card .product-9:hover .card-btn {
  opacity: 1;
}
/* Product Card details ends*/

/* Image slider */
.img-slider {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 10px;
  background: #ffffff;
  top: 45em;
  left: 36.7em;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: #fff;
  font-size: 18px;
  width: 77%;
  padding: 9px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #000000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
  .img-slider {
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}
.img-slider a.slider-button {
  text-decoration: none;
  position: absolute;
  left: 3.5em;
  top: 15em;
  display: inline-block;
  padding: 10px 12px;
  color: #fff;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
}
.img-slider a.slider-button:hover {
  color: #fff;
  background-color: transparent;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: scale(1.1);
  transition: 0.4s;
}
.img-slider a#button-gift {
  text-decoration: none;
  position: absolute;
  left: 3.5em;
  top: 15em;
  display: inline-block;
  padding: 10px 12px;
  color: rgb(0, 0, 0);
  background-color: #fff;
  border: 2px solid #fff;
  font-family: "Montserrat", sans-serif;
}
.img-slider a#button-gift:hover {
  color: #fff;
  background-color: transparent;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: scale(1.1);
  transition: 0.4s;
}

/* Image slider ends*/

/* footer */
.footer {
  display: flex;
  position: absolute;
  background-color: #dddddd;
  height: 300px;
  width: 100%;
  top: 90em;
}
.social-icon {
  display: flex;
  position: absolute;
  color: #000;
  top: 105em;
  left: 40px;
}
.social-icon a {
  padding-right: 20px;
  font-size: 30px;
  color: #000;
}
.social-icon a:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: scale(1.1);
  transition: 0.4s;
}
/* footer ends*/
