@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*header starts*/
.container {
  max-width: 1200px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.v-center {
  align-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*header*/
.header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 99;
  padding: 15px;
}
.header .item-left {
  flex: 0 0 17%;
}
.header .logo a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header .item-center {
  flex: 0 0 66%;
}
.header .header-icon {
  flex: 0 0 17%;
  display: flex;
  justify-content: flex-end;
}
.header .header-icon a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  display: inline-block;
  margin-left: 10px;
  transition: color 0.3s ease;
}
.header .menu > ul > li {
  display: inline-block;
  line-height: 50px;
  margin-left: 25px;
}
.header .menu > ul > li > a {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  position: relative;
  text-transform: capitalize;
  transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #fff;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  transition: all 0.5s ease;
  margin-top: 15px;
  opacity: 0;
  visibility: hidden;
}
.header .menu > ul > li.dropdown-menu:hover .sub-menu {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}

.header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: grey;
  transition: color 0.3s ease;
  text-decoration: none;
}
.header .menu > ul > li .list-item > ul > li > a {
  color: grey;
}
.header .menu > ul > li .sub-menu-title {
  color: #000;
}
.header .menu > ul > li .single-col {
  min-width: 280px;
  max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}
.header .menu > ul > li .sub-menu.mega-menu-column-6 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-6 > .list-item {
  flex: 0 0 19%;
  padding: 0 9px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-6 > .list-item img {
  max-width: 1000%;
  width: 127%;
  vertical-align: middle;
  padding-top: 9px;
}
/*just for drop-down 'Gifts' & 'Fine Watches' */
.header .menu > ul > li .sub-menu.mega-menu-column-4 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  flex: 0 0 19%;
  padding: 0 9px;
  text-align: left;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  max-width: 1000%;
  width: 100%;
}
/*just for drop-down 'Gifts' and 'Fine Watches' ends*/
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .menu > ul > li .list-item > ul > li > a:hover,
.header .header-icon a :hover,
.header .menu > ul > li:hover > a {
  color: #ea4636;
  transition: 0.5s;
}
.menu {
  text-align: center;
}
/*header starts ends*/

/*Search box*/
.container {
  text-align: center;
}

div input {
  font-family: "Roboto", sans-serif;
}

#animated input[type="text"] {
  width: 310px;
  box-sizing: border-box;
  border: 1.5px solid #a6a6a6;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 12px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

#animated input[type="text"]:focus {
  width: 500px;
}

#animated i {
  position: relative;
  right: 32px;
}
/*Search box end*/

/*About us content*/

/* background video in 'About us' content */
#diamond-vd {
  filter: alpha;
  opacity: 66%;
  position: absolute;
  margin-top: 2.1em;
  object-fit: cover;
  width: 100vw;
  height: 51vh;
}
/* background video in 'About us' content end*/
.about_us h1 {
  font-size: 44px;
  padding-left: 1em;
  font-family: "Newsreader", serif;
}

p {
  font-family: "Nothing You Could Do", cursive;
  padding-left: 2.8em;
  font-size: 16px;
  font-weight: 910;
}

.about_us {
  display: flex;
  position: absolute;
  margin-right: 0em;
  margin-left: 0em;
  margin-top: 3.7em;
  height: 22em;
  /*background-color: rgb(245, 245, 245);*/
}

.about_us a {
  text-decoration: none;
  margin-left: 2.8em;
  margin-top: 8em;
  display: inline-block;
  padding: 10px 12px;
  color: black;
  background-color: transparent;
  border: 3px solid black;
  font-family: "Montserrat", sans-serif;
}

.about_us a:hover {
  color: #fff;
  background-color: black;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: scale(1.1);
  transition: 0.5s;
}
/*About us content ends*/
